@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 89 28% 31%;
  --accent-foreground: 0 0% 100%;
  --primary: 89 28% 31%;
  --primary-foreground: 0 0% 100%;
  --font-family: 'Poppins', sans-serif;
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Poppins', sans-serif;
  }

  body {
    @apply antialiased bg-gray-50 text-foreground;
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  .text-accent {
    color: #4a5d44;
  }
  
  .border-accent {
    border-color: #4a5d44;
  }
  
  .bg-accent {
    background-color: #4a5d44;
  }
  
  .bg-accent-light {
    background-color: #5d7052;
  }
}