@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-white text-foreground;
  }
}

@layer components {
  .text-accent {
    color: #4a5d44;
  }
  
  .border-accent {
    border-color: #4a5d44;
  }
  
  .bg-accent {
    background-color: #4a5d44;
  }
  
  .bg-accent-light {
    background-color: #5d7052;
  }
}